.team-section {
  margin-left: 20px;
  margin-right: 20px;
}

.header .logo {
  width: 300px;
}
.header {
  height: 400px;
  border-radius: 35px 35px 35px 35px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #04adbf, #04bfbf, #025959);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-subtitle {
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.team-item {
  width: calc(30% - 40px);
  width: 33, 33%;
  background: #f4f5f6;
  text-align: center;
  margin: 20px 0;
  padding: 90px 30px 90px 30px;
  border-radius: 10px 10px;
}

.team-item:hover {
  background: linear-gradient(90deg, #04adbf, #04bfbf, #025959);
}

.team-item h3 {
  margin: 20px 0 1px;
  color: #454545;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-item:hover {
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  margin-left: 10px;
  color: black;
  font-style: italic;
}

.team-img {
  max-width: 160px;
  padding: 6px 6px;
  background-color: #dedede;
  border-radius: 20%;
}
.team-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-icon li {
  display: inline-block;
  margin-right: 40px;
}

.team-icon a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
}

.team-icon .linkedin i {
  color: #0077b5;
}

.team-icon .github i {
  color: #333;
}

.team-icon .email i {
  color: #ff6600;
}
.footer {
  border-radius: 15px 15px 0 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #04adbf, #04bfbf, #025959);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.footer-content :hover {
  text-decoration: underline;
}
.footer-content p {
  font-size: 20px;
  margin-bottom: 5px;
}

.logo {
  margin-bottom: 20px;
  width: 7rem;
  position: absolute;
  right: 40px;
}

@media screen and (max-width: 768px) {
  .team-item {
    width: 100%;
  }
}
